<!doctype html>

<head><title>Food Affordability</title>
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<form action="/load" method="POST">
    <select name="presets" id="presets">
        <option value="">-- Choose preset --</option>
        {% for preset_name in preset_names %}
            <option value="{{ preset_name }}" >{{preset_name}}</option>
        {% endfor %}
    </select>
    <button><a>Load preset</a></button>
    <button formaction="/delete"><a>Delete preset</a></button><br><br>
</form>

<form action="/submit" method="POST">
    <label for="preset_input">Preset name:</label>
    <input type="text" id="preset_input" name="preset_input">
    <button formaction="/save"><a>Save preset</a></button><br><br>
    <fieldset>
        <legend>Choose your sub-regions:</legend>
        <div id="subRegionList" style="column-count: 2; column-gap: 20px;"></div>
        {% for subregion in subregions.items() %}
            <div style="break-inside: avoid;">
                <input
                    type="checkbox"
                    id="{{ subregion[0] }}"
                    name="subregions"
                    value="{{ subregion[0] }}"
                    {{ "checked" if subregion[1] else "" }}>
                <label for="{{ subregion }}">{{ subregion[0] }}</label>
            </div>
        {% endfor %}
    </fieldset>

    <label for="rural_urban">Choose rural and/or urban data:</label>
    <select name="rural_urban" id="rural_urban">
        <option value="rural">Rural</option>
        <option value="urban">Urban</option>
        <option value="average">Average</option>
    </select>
    <br><br>

    <button><a>View selected data</a></button><br><br>
    {% block content %}{% endblock %}
</form>

</body>