<!doctype html>


<head><title>Test</title>
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<form action="/submit" method="POST">
    <fieldset>
        <legend>Choose your sub-regions:</legend>
        <div id="subRegionList"></div>
            {% for subregion in subregions %}
            <div>
                <input
                    type="checkbox"
                    id="{{ subregion }}"
                    name="subregions"
                    value="{{ subregion }}">
                <label for="{{ subregion }}">{{ subregion }}</label>
            {% endfor %}
    </fieldset>

    <label for="views">Choose your view to compare against affordability:</label>
    <select name="views" id="views">
        <option value="bmi">BMI</option>
        <option value="waste">Waste</option>
    </select>
    <br><br>

    <button><a>Let's-a-go</a></button><br>
    {% block content %}{% endblock %}
</form>

</body>