<!doctype html>


<head><title>Test</title>
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<form action="/submit" method="POST">
    <label for="country_name">Country name:</label><br>
    <input type="text" id="country_name" name="country_name"><br><br>
    <label for="subregion">Sub-region:</label><br>
    <input type="text" id="subregion" name="subregion"><br><br>


    <label for="views">Choose your view to compare against affordability:</label>
    <select name="views" id="views">
        <option value="bmi">BMI</option>
        <option value="waste">Waste</option>
    </select>
    <br><br>

    <label>Would you like to see view for country or sub-region?</label><br><br>
    
        <input type="radio" id="country" name="option" value="country">
        <label for="country">Country</label>
        <input type="radio" id="subregion" name="option" value="subregion">
        <label for="subregion">Sub-region</label><br>

    <br><br>
        <button><a>Let's-a-go</a></button><br>
</form>

</body>